@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border

}

*::-webkit-scrollbar {
  width: 0;
}

.root {
  @apply w-screen h-screen bg-black flex flex-col text-[aqua] p-20
}

@font-face {
  font-family: airstrike;
  src: url("../public/airstrike.ttf");
}

@font-face {
  font-family: digital;
  src: url("../public/digital-7.ttf");
}

.header, .section-button {
  text-shadow: 0 0 10px aqua;
  font-family: airstrike;
  -webkit-user-select: none;
  user-select: none; 
}

.section-button {
  @apply w-full p-8 border-solid border-2 rounded-lg cursor-pointer duration-200 flex justify-center -skew-x-12
}


.section-button:hover {
  box-shadow: 0 0 10px aqua;
  border-color: aqua;
}

.section-button h1 {
  @apply text-4xl duration-200
}

.section-button:hover h1 {
  color: aqua;
  text-shadow: 0 0 10px aqua;
}

.about-me {
  border-color: red;
  box-shadow: 0 0 10px red;
}

.about-me h1, .about-me p {
  color: red;
  text-shadow:  0 0 10px red;
}

.works {
  border-color: orange;
  box-shadow: 0 0 10px orange;
}

.works h1, .works p {
  color: orange;
  text-shadow:  0 0 10px orange;
}

.contacts {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

.contacts h1, .contacts p{
  color: yellow;
  text-shadow:  0 0 10px yellow;
}

.unpause {
  border-color: lime;
  box-shadow: 0 0 10px lime;
}

.unpause h1 {
  color: lime;
  text-shadow:  0 0 10px lime;
}

.reset {
  color: violet;
  border-color: violet;
  box-shadow: 0 0 10px violet;
}

.reset h1 {
  color: violet;
  text-shadow:  0 0 10px violet;
}

.section {
  font-family: digital;
  -webkit-user-select: none;
  user-select: none; 
  @apply w-[45%] h-full p-10 border-solid border-2 rounded-lg italic
}



