@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Minecraft;
  src: url('./fonts/Minecraft.ttf');
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
  }
}